{form signInForm}
	<div class="input-group">
		<span class="input-group-label"><i class="fa fa-envelope"></i></span>
		{input email class => 'input-group-field'}
	</div>
	<div class="input-group">
		<span class="input-group-label"><i class="fa fa-key"></i></span>
		{input password class => 'input-group-field'}
	</div>
	{input submit class => 'button large expanded'}
{/form}
